
###> symfony/framework-bundle ###
/.env.local
/.env.prod
/.env.dev
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/dev/dev.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/public/uploads/images/la folie douce.png
/public/uploads/images/CAMEMBERT.jpg
/public/uploads/images/bannirere_tailwindcss_installation.jpg
/public/cv/cv_cedric.pdf
