{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="grid h-screen place-items-center">
        <h1>Hello World</h1>
    </div>
{% endblock %}
