{% extends 'base.html.twig' %}

{% block title %}Portfolio - Cédric Le Sergent{% endblock %}

{% block body %}
    {# import Hero Section #}
    <div {{ react_component('HeroSection') }}></div>
{% endblock %}
