{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% block content %}
        <div id="response-div">
            {{ include('partials/_blogNavbar.html.twig') }}
            <div class="container mx-auto pt-16 ">
                <div class="flex flex-col md:flex-row w-full">
                    {# Start of search aside #}
                    {% block search %}
                        {{ include('partials/_blog-search-block.html.twig') }}
                    {% endblock %}
                    {# End of search aside #}
                    {% block posts %}
                        {{ include('partials/_post-article.html.twig') }}
                    {% endblock %}

                </div>
            </div>
            {% block footer %}
                {{ include('partials/_footer.html.twig') }}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}








